<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Turf.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TurfOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TurfRegressionTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sqlite3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>723555E91CD512B100EAB32D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>723555F21CD512B100EAB32D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724E75B51CA945270082841B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B616DF1BAF474A00CFE67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B616E91BAF474A00CFE67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
